/* Made with ♥ by dhil#0001 */

@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto Mono', monospace;
}

body{
    background: #151515;
}

.content-wrapper{
    margin-top: 50px;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 50px;
}

.profile{
    background: #292929;
    max-width: 1000px;
    margin: auto;
    text-align: center;
    margin-top: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 15px;
    border-radius: 15px;
}

.profile p{
    margin: 10px 0;
    color: #FFF;
}

.profile h1{
    color: #FFF;
}

.profile-image-wrapper{
    max-width: 200px;
    max-height: 200px;
    margin: auto;
    margin-bottom: 15px;
}

.profile-image{
    border-radius: 50%;
    width: 100%;
    height: 100%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.location{
    color: #929292;
}

.grid-container {
  display: grid;
  grid-template-columns: 50% 50%;
  max-width: 1000px;
  margin: auto;
  margin-top: 7.5px;
}
.grid-item {
  border: 7.5px solid #151515;
  background: #292929;
  font-size: 18px;
  text-align: center;
  align-items: center;
  color: #FFF;
}

.grid-item .image{
    float: left;
    height: 50px;
    width: 50px;
}

.image img{
    height: 100%;
    width: 100%;
}

.grid-item .link{
    float: left;
    margin: 12px;
}

.grid-item .link a{
    text-decoration: none;
    color: #FFF;
}

.grid-item .link a:hover{
    border-bottom: solid #FFF 1px;
}

.grid-item .link-icon{
    float: right;
    margin: 12px;
}

.grid-item .link-icon a{
    color: #FFF;
}

.alert{
    width: 100%;
    position: fixed;
    background-color: orange;
    top: 0;
    text-align: center;
    opacity: 0;
    padding: 5px;
}


/* For smaller screens */
@media screen and (max-width: 825px){
    .grid-container{
        grid-template-columns: 100%;
    }
    .grid-item{
        font-size: 15px;
    }
    .grid-item .link{
        margin: 9px;
    }
    .grid-item .link-icon{
        margin: 9px;
    }
    .grid-item .image{
        height: 40px;
        width: 40px;
    }
}
